# Exclude VCS and CI
.git/
.gitignore
.github/

# R user artifacts
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history

# R package caches
renv/cache/

# Local outputs and logs
outputDir/
*.log
*.err.log
*.out.log

# Temporary and OS files
.DS_Store
Thumbs.db

# Archives and binaries
*.tar.gz
*.zip
*.reg

# IDE
.vscode/
.idea/

